.application {
  @extend %flex-center;
  gap: 2rem;
  margin-top: 2rem;
  background-color: #fdf7e8;
  padding: 2rem;

  h2 {
    text-align: start;
  }

  .accordion {
    width: 100%;

    button {
      @extend %flex-center;
      gap: 0.6rem;
      span {
        background: $color-primary;
        text-align: center;
        color: $color-white;
        border-radius: 50%;
        font-size: 1.3rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .apps {
    margin-top: 1rem;
    @extend %flex-center;
    justify-content: flex-start;
    gap: 2rem;

    .app {
      @extend %flex-center;
      gap: 1rem;
      border: 2px solid $color-black;
      text-align: center;
      border-radius: 1rem;
      padding: 0.6rem 1rem;
      transition: all 0.4s;
      cursor: pointer;
      i {
        font-size: 2rem;
      }
      h4 {
        font-size: 1rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .right img {
    margin-top: 2rem;
    width: 100%;
  }
}
