@font-face {
    font-family:"Red Hat Display" ;
    src: url(../../assets/fonts/red_hat_display/RedHatDisplay-Medium.woff2);
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family:"Red Hat Display ";
    src: url(../../assets/fonts/red_hat_display/RedHatDisplay-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}