.hear {
  @extend %headstills;

  .hear-content {
    @extend %flex-center;
    gap: 2rem;
    text-align: start;
  }

  .carousel {
    span {
      color: $color-primary;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 0.5rem;
    }

    h2 {
      font-weight: 700;
      font-size: 2rem;
      color: $color-primary;
    }
  }

  .partner {
    margin-top: 2rem;
    @extend %flex-center;
    flex-direction: column;
    background: #fcecea;
    padding: 2rem;
    border: 1px solid #e24329;
    border-radius: 2rem;

    .btn {
      color: $color-primary;
    }
  }
}
