.info {
  @extend %flex-center;

  .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;

    .box {
      margin-top: -30px;
      @extend %flex-center;
      gap: 1rem;
      border: 1px solid $color-white;
      background: $color-white;
      box-shadow: 0px 22px 40px rgba(142, 108, 154, 0.1),
        0px 8.47407px 12.7407px rgba(142, 108, 154, 0.0607407),
        0px 1.79259px 3.25926px rgba(142, 108, 154, 0.0392593);
      border-radius: 1rem;
      padding: 0.3rem;
      font-weight: 400;
      font-size: 0.8rem;
      color: $color-black;
      transition: all 0.4s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
